.completed {
    color: red;
    text-decoration: line-through;
}

header{
    background-color: lightblue;
    text-align: center;
    padding: 5px;
    border: 2px solid navy;
}
body{
    background-color: beige;
    color: navy;
    padding-left: 20px;
}

table{
    border-collapse: collapse;
    text-align: center;
  }

  th{
    background-color: navy;
    color: whitesmoke;
    padding: 10px;
    font-size: large;
  }

  th,tr,td{
    border: 3px solid black;
    padding: 10px;
  }

  tr:nth-child(even){
    background-color:lightblue ;
  }

  tr:nth-child(odd){
    background-color: lightgray;
  }

#myListofTodos{
    text-indent: 100px;
}

#addTodoItem {
    padding-top: 25px;
    padding-bottom: 25px;
}